In [1]:
#basic of string

##Accessing Characters
s = "python"
print(s[0])
print(s[-1])

p
n

In [2]:
#Slicing Strings

s = "Python"
print(s[1:4])
print(s[:3])
print(s[3:])

yth
Pyt
hon

In [3]:
####String Length

s = "Hello"
print(len(s))

5

In [4]:
#######Converting Case

s = "python"
print(s.upper())
print(s.lower())
print(s.capitalize())

PYTHON
python
Python

In [5]:
###############Finding and Replacing

s = "I love Python programming"
print(s.find("Python"))
print(s.replace("Python","java"))

7
I love java programming

In [8]:
#########Splitting and Joining
s = "I,love,Python"
words = s.split(" , ")
print(words)

n_w = " , ".join(words)
print(n_w)

['I,love,Python']
I,love,Python

In [9]:
###################Reversing a String

k = "Hellow"
print(k[::-1])

wolleH

In [ ]:
####################Checking for Palindromes

#####A palindrome is a word, sentence, verse, or even number that reads the same backward or forward.

In [10]:
def is_palindrome(s):
    return s == s[::-1]

print(is_palindrome("radar"))
print(is_palindrome("python"))
print(is_palindrome("88"))
print(is_palindrome("1188"))

True
False
True
False

In [11]:
#########Counting Vowels

def count_vowels(s):
    vowels ="aeiou"
    return sum(1 for char in s.lower() if char in vowels)

print(count_vowels("i love python programming"))

7

In [12]:
#######Write a program to reverse a string without using built-in functions.

string = "hello"
print(string[::-1])

print("OR")

def reverse_string(input_string):
    reversed_string = ""

    for i in range(len(input_string) - 1 ,-1,-1):
        reversed_string += input_string[i]

    return reversed_string

# Example usage
original_string = "Hello, World!"
reverse_result = reverse_string(original_string)
print("this is your:", {original_string})
print("this is your:", {reverse_result})

olleh
OR
this is your: {'Hello, World!'}
this is your: {'!dlroW ,olleH'}

In [13]:
def rev_string(input_string):
    k = ""

    for i in range(len(input_string) -1 , -1,-1):
        k += input_string[i]

    return k

os = "kaustubh"
rs = rev_string(os) 
print(rs)

hbutsuak

In [14]:
def rev_string(input_string):
    k = ""

    for i in range(len(input_string) - 1 ,-1, -1):
        
        k += input_string[i]

    return k
os = "python"
rs = rev_string(os)
print(rs)

nohtyp

In [15]:
def rev_string(input_string):
    k = ""
    for i in range(len(input_string)-1,-1,-1):
        k += input_string[i]
    return k

os = "arthink.ai"
re = rev_string(os)
print(re)

ia.knihtra

In [16]:
def rev_string(ip_string):
     k = ""
     for i in range(len(ip_string) -1,-1,-1):
        k += ip_string[i]
     return k
os = "data scientist"
rs = rev_string(os)
print(rs)

tsitneics atad

In [17]:
k = "hellow"
l= reversed(k)
op = ''.join(l)
print(op)

wolleh

In [ ]:
###print the string in reverse order but change the sequence of word only 
s = "python is very easy language to learn"
l= s.split()
print(l)
k = l[::-1]
print(k)
t= ' '.join(k)
print(t)

In [18]:
### write a programe to reverse internal containt of each word??

s= "but keep them in the same order" 
l = s.split()
k = []
for i in l:
    k.append(i[::-1])
    print(k)
t = ' '.join(k)
print(t)

['tub']
['tub', 'peek']
['tub', 'peek', 'meht']
['tub', 'peek', 'meht', 'ni']
['tub', 'peek', 'meht', 'ni', 'eht']
['tub', 'peek', 'meht', 'ni', 'eht', 'emas']
['tub', 'peek', 'meht', 'ni', 'eht', 'emas', 'redro']
tub peek meht ni eht emas redro

In [19]:
#######write a programme to reverse interval contain of every second word present in the given string.

s = "one two three four five six "
l = s.split()
i = 0
l1 = []
while i<len(l):
    if i%2 == 0:
        l1.append(l[i])
    else:
        l1.append(l[i][::-1])
    i = i+1
    print(l1)
op = ' '.join(l1)
print(op)

['one']
['one', 'owt']
['one', 'owt', 'three']
['one', 'owt', 'three', 'ruof']
['one', 'owt', 'three', 'ruof', 'five']
['one', 'owt', 'three', 'ruof', 'five', 'xis']
one owt three ruof five xis

In [20]:
########write a programme to print the chara. present at even & odd index  seperately for the given  string????????????????

###enven index
s = "kaustubhpatel"
i = 0
print("the chara present at even index")
while i<len(s):
    print(s[i])
    i = i + 2    

###odd index
s = "kaustubhpatel"
i = 1 
print("the chara present at odd index")
while i<len(s):
    print(s[i])
    i = i+2


#################################################

k = "kaustubhpatel"
print("the chara present at even index",k[::2])
print("the chara present at odd index",k[1::2])

the chara present at even index
k
u
t
b
p
t
l
the chara present at odd index
a
s
u
h
a
e
the chara present at even index kutbptl
the chara present at odd index asuhae

In [21]:
######Reverse the order of words in a sentence:

s = "I love Python"
k = s.split()
print(k)
l = k[::-1]
print(l)
d = ' '.join(l)
print(d)

['I', 'love', 'Python']
['Python', 'love', 'I']
Python love I

In [22]:
#############  Write a python programme to mearge the chara. of two strings into a single string by taking chara. alternatively.
########( THIS CODE IS FOR THE BOTH STING HAVING SAME LENGTH#################
s1 ='ravi'
s2 = 'teje'
i , j = 0,0 
output = ""
while i<len(s1) or j<len(s2):
    output= output + s1[i]+s2[j]
    i= i+1
    j= j+1

print(output)

rtaevjie

In [ ]:
#############  Write apython programme to mearge the chara. of two strings into a single string by taking chara. alternatively.
########( THIS CODE IS FOR THE BOTH STING DOES NOT HAVING SAME LENGTH#################

s1 = 'ravikiran'
s2 = 'teja'
output = ''
i,j = 0,0
while i<len(s1) or i<len(s2):
    if i<len(s1):
        output = output + s1[i]
        i = i+1

    if j<len(s2):
        output = output + s2[j]
        j = j + 1
print(output)

In [ ]:
#################   write a python programme to sort chara. of the string , first alphabets symbols folloed by digit...


s = "B4A1D3"
alphabets = []
digit = []

for ch in s:
    if ch.isalpha():
        alphabets.append(ch)

    else:
        digit.append(ch)

output = ''.join(sorted(alphabets) + sorted(digit))
print (output)

In [ ]:
############################ WAP for following req. input = "a4b3c2" output = "aaaabbbcc"
s = "a4b3c2"
output = " "
for ch in s:
    if ch.isalpha():
        x = ch
    else:
        d = int(ch)
        output = output + x*d

print(output)

In [ ]:
##########write a prg. for the following requ. input :- "aaaabbbccz"  op:- 4a3b2c1z
s = "aaaabbbccz"
previous = s[0]
output = ''
c = 1
i = 1
while i < len(s):
    if s[i] == previous:
        c = c+1
    else:
        output = output + str(c)+ previous
        previous = s[i]
        c = 1
    if i == len(s)-1:
         output = output+str(c)+previous

    i = i+1
print(output)

In [ ]:
#Reverse a sentence:
#Input: "I love programming"
s= "123abc"

l = s[::-1]
print(l)

In [ ]:
s = 'kaustubh'
def is_palindrome(s):
    return s== s[::-1]
print(is_palindrome(s))

In [ ]:

def is_palindrome(k):
    return k == k[::-1]
print(is_palindrome("madam"))

In [ ]:
def is_palindrome(a):
    return a==a[::-1]
print(is_palindrome("radar"))

In [1]:
###################################################Create a list with the numbers 1 to 5. Print the third number in the list.###############

l1 = [1,2,3,4,5]
print(l1[2])

############Add the number 6 to the list [1, 2, 3, 4, 5].
l = [1,2,3,4,5]
l.append(6)
print(l)

########Remove the second item from this list: ["apple", "banana", "cherry"]
k = ["apple", "banana", "cherry"]
del k[1]
print(k)

####################Check if the number 3 exists in the list [1, 2, 4, 5].

l2 = [1, 2, 4, 5]
if 3 in l2:
    print("present")

else:
    print("not present")

3
[1, 2, 3, 4, 5, 6]
['apple', 'cherry']
not present

In [95]:
###########Reverse the list [10, 20, 30, 40].
k = [10, 20, 30, 40]
h = k.reverse()
print(k)

###########Find the largest and smallest number in the list [3, 1, 4, 1, 5, 9]
mylist = [3,1,4,1,5,9]
mylist.sort()
print(mylist)
print("smallest element is", mylist[0])
print("largest element is", mylist[-1])

##################Combine two lists: [1, 2, 3] and [4,5,6]
lk = [1, 2, 3]
ll = [4,5,6]
o = lk + ll
print (o)

#######################Sort this list in descending order: [5, 2, 9, 1, 3]

num = [5, 2, 9, 1, 3]
num.sort(reverse=True)
print(num)

[40, 30, 20, 10]
[1, 1, 3, 4, 5, 9]
smallest element is 1
largest element is 9
[1, 2, 3, 4, 5, 6]
[9, 5, 3, 2, 1]

In [ ]:
################Remove all duplicate values from the list [1, 2, 2, 3, 4, 4, 5]

l = [1, 2, 2, 3, 4, 4, 5]
c= []
for i in l:
    if i not in c:
        c.append(i)
    
print(c)

In [ ]:
#########Count how many times apple appears in the list ["apple", "banana", "apple", "cherry", "apple"]


f = ["apple", "banana", "apple", "cherry", "apple"]
count = 0
for i in f:
    if "apple" == i:
        count += 1
print(count)

In [ ]:
############Write a program that finds all the even numbers in a list like [1, 2, 3, 4, 5, 6]
l = [1, 2, 3, 4, 5, 6]
k= []
for i in l:
    if i%2 == 0:
        k.append(i)

print(k)

In [ ]:
########Create a list of your favorite 5 movies and print them one by one using a loop.

m = ['krish', 'FF1' , 'HP1' , 'RHTDM' , 'DH4' ]

for i in m:
    print(i)

In [ ]:
###########Replace the 3rd item in the list [10, 20, 30, 40, 50] with 99.

k = [10, 20, 30, 40, 50]
k[2]=99
print(k)

In [ ]:
################Find the index of the number 7 in the list [1, 4, 7, 9, 7].
c =  [1, 4, 7, 9, 7]

k = []

for index , value in enumerate(c):
    if value == 7:
        k.append(index)

print(k)

In [ ]:
##########Split this string "apple,banana,cherry" into a list of items.
s = "apple,banana,cherry"
l = s.split(",")
print(l)

In [ ]:
###########Combine the lists [1, 2, 3] and [4, 5, 6] without using the + operator
l1 = [1, 2, 3]
l2 = [4, 5, 6]
l1.extend(l2)
print(l1)

In [ ]:
# Two lists
l1 = [1, 2, 3]
l2 = [4, 5, 6]

# Loop through list2 and append each item to list1
for i in l2:
    l1.append(i)

# Print the result
print(l1)

In [ ]:
#######Write a program to copy a list without using .copy() or slicing.
x = [1, 2, 3, 4, 5, 6]
s= []
for i in x:
    s.append(i)


print(s)

In [ ]:
#####Sort this list: ["zebra", "apple", "mango", "banana"] in alphabetical order.

p = ["zebra", "apple", "mango", "banana"]
p.sort()

print(p)

In [ ]:
#######Count how many times each element appears in the list [1, 2, 2, 3, 3, 3, 4, 4, 4, 4]

z= [1, 2, 2, 3, 3, 3, 4, 4, 4, 4]
count = {}
for i in z:
    if i in count:
        count[i]+=1
    else:
        count[i] = 1

print(count)

############## OR ###############
from collections import Counter

l = Counter(z)
print(l)

In [ ]:
                                                    ########for loop ###########################

In [ ]:
##Create a list of your favorite foods (e.g., ["Pizza", "Burger", "Pasta", "Ice cream"]) and use a for loop to print each food item.

food = ["Pizza", "Burger", "Pasta", "Ice cream"]
for i in food:
    print(i)

In [ ]:
##Use a for loop to print the squares of numbers from 1 to 10. (i.e., print 1^2, 2^2, 3^2, etc.)
squaer = [x**2 for x in range(1 ,11)]
print(squaer)

In [ ]:
##Create a dictionary with the following key-value pairs: {"name": "Kaustubh", "age": 25, "city": "Mumbai"}. Loop through the dictionary and print each key and its corresponding value.

dt= {"name": "Kaustubh", "age": 25, "city": "Mumbai"}
for key , value in dt.items():
    print(key,value)

In [ ]:
person = {"name": "Alice", "age": 30, "job": "Engineer"}
for key, value in person.items():
    print(key,value)

In [ ]:
word_count = {"hello": 5, "world": 3, "python": 7}
for key,value in word_count.items():
    print(key,value)

In [ ]:
#######print the number from 1 to 100 using while loop.
i = 1
while  i<=100:
    print(i)
    i+=1

In [ ]:
#######print the number from 100 to 1 using while loop.
i = 100
while i>=1:
    print(i)
    i-=1

In [ ]:
#######print the multiplication table of a number n
i = 1
while i<=10:
    print(3*i)
    i += 1

In [ ]:
####print the element of the following list using a loop...
k= [1,4,9,16,25,36,49,68,81,100]

idx = 0
while idx <(len(k)):
    print(k[idx])
    idx +=1

In [ ]:
c = [1,4,9,16,25,36,49,68,81,100,110,120]
i = 0
while i<(len(c)):
    print(c[i])
    i += 1

In [ ]:
d = [1,99,66,69,4,9,16,25,36,49,68,81,100,110,120]
i = 0
while i<(len(d)):
    print(d[i])
    i+=1

In [ ]:
######search for number X in this tuple using loop
d = (1,99,66,69,4,9,16,25,36,49,68,81,100,110,120)
x = 36
i = 0
while i<(len(d)):
    if (d[i]==x):
        print("found at index",i)
    i+=1

In [5]:
#####Create and Access Elements
"""Create a list of your 5 favorite fruits.
Print the second fruit in the list.
Print the last fruit using negative indexing."""

list1 = ['apple','banana','mango','cherry','ghava']
print(list1)
print(list1[1])
print(list1[-1])

['apple', 'banana', 'mango', 'cherry', 'ghava']
banana
ghava

In [9]:
"""Create a list of numbers: [10, 20, 30, 40, 50].
Add the number 60 to the list.
Remove the number 30 from the list.
Replace the second element with 25.
Print the updated list."""

l2 = [10, 20, 30, 40, 50]
l2.append(60)
l2.remove(30)
l2[1]=25
print(l2)

[10, 25, 40, 50, 60]

In [10]:
#####Write a program to print each element of the list ["red", "blue", "green"] on a new line.

c= ["red", "blue", "green"]
for i in c:
    print(i)

red
blue
green

In [31]:
"""Sum and Average

Create a list of numbers: [5, 10, 15, 20, 25].
Write a program to calculate and print:
The sum of the numbers.
The average of the numbers."""

s = [5, 10, 15, 20, 25]
sum = 0
for i in s:
    sum = sum + i
print("sum of list",sum)

sum1 = sum/len(s)

print(sum1)

sum of list 75
15.0

In [39]:
#####Write a program to find and print the largest and smallest numbers in the list [3, 7, 2, 8, 5].

k = [3, 7, 2, 8, 5]

print(max(k))
print(min(k))

8
2

In [45]:
######Write a program to:
"""Sort the list [4, 1, 8, 3, 7] in ascending order.
Sort the same list in descending order."""

x = [4, 1, 8, 3, 7]
x.sort()
print("this is ascending order:",(x))
x.sort(reverse=True)
print(x)

this is ascending order: [1, 3, 4, 7, 8]
[8, 7, 4, 3, 1]

In [48]:
###Write a program to remove duplicate elements from the list [1, 2, 2, 3, 4, 4, 5] and print the updated list
l =[1, 2, 2, 3, 4, 4, 5]
k = []
for i in l:
    if i  not in  k:
        k.append(i)

print(k)

[1, 2, 3, 4, 5]

In [70]:
#####Palindrome Check , Write a program that checks if the list ["a", "b", "c", "b", "a"] is a palindrome (reads the same forward and backward).
l = ["a", "b", "c", "b", "a"]
if l==l[::-1]:
    print("list is palindrome")
else:
    print("not")

list is palindrome

In [75]:
"""List Comprehension
Use list comprehension to create a list of squares for numbers 1 to 10.
Create a new list from [1, 2, 3, 4, 5] that contains only even numbers."""

cord = [x**2 for x in range(1,11)]
print(cord)

df = [1, 2, 3, 4, 5]
c= [x for x in df if x%2==0]
print(c)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[2, 4]

In [80]:
"""Represent a 3x3 matrix using a list of lists:
[[1, 2, 3],
 [4, 5, 6],
 [7, 8, 9]]
Print the element at row 2, column 3."""

m = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]
k=m[1][2]
print(k)

6

In [86]:
###Write a program to find the common elements between two lists:
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]

k = []
for i in list1:
    if i in list2:
        k.append(i)

print(k)

[3, 4, 5]

In [90]:
#Prime Numbers in a List
#Write a program to find all prime numbers in the list [2, 3, 4, 5, 6, 7, 8, 9, 10].

l = [2, 3, 4, 5, 6, 7, 8, 9, 10]
prime =[]
for i in l:
    c=0
    for j in range(1,i+1):
        if i%j==0:
            c+=1
        
    if c==2:
        prime.append(i)

print(prime)

[2, 3, 5, 7]

In [91]:
"""Index and Element Display

Create a list of your favorite movies.
Write a program to display each movie with its index using enumerate()."""

m = ['puspha','rhtdm','hulk','im']
for i,m in enumerate(m):
    print(i,m)

0 puspha
1 rhtdm
2 hulk
3 im

In [92]:
####Write a program to display each character of the string "PYTHON" with its index using enumerate().

st = "PYTHON"
for i,char in enumerate(st):
    print(i,char)

0 P
1 Y
2 T
3 H
4 O
5 N

In [93]:
"""Create a list of numbers: [10, 20, 30, 40, 50].
Use enumerate() to print the numbers with indices starting from 100."""

lt = [10, 20, 30, 40, 50]
for i, lt in enumerate(lt,start=100):
    print(i,lt)

100 10
101 20
102 30
103 40
104 50

In [94]:
########Given the list [5, 15, 25, 35], use enumerate() to print the sum of each element and its index.

k = [5, 15, 25, 35]
for i,value in enumerate(k):
    r = i + value
    print(i,k,r)

0 [5, 15, 25, 35] 5
1 [5, 15, 25, 35] 16
2 [5, 15, 25, 35] 27
3 [5, 15, 25, 35] 38

In [99]:
######Given a value, return the optimal number of coins [1,5,10,25] to make the value.

coin = [1,5,10,25]
coin.sort(reverse = True)
print(coin)

[25, 10, 5, 1]

In [104]:
def get_coins(values):
    coins = [25, 10, 5, 1]
    r ={}
    for i in coins:
        count = values//i
        r[i]=count
        values%= i

    return r

values = 88
result = get_coins(values)
print(result)

{25: 3, 10: 1, 5: 0, 1: 3}